<h4>Players</h4>
<ul>
    {% for gameStat in gameStats if gameStat.team.id == teamId %}
        <li>{{ gameStat.player.name }} {% if gameStat.score > 0 %}({{ gameStat.score }} pts){% endif %}</li>
    {% endfor %}
</ul>
<h4>Goals</h4>
{% for gameStat in gameStats if gameStat.team.id == teamId and gameStat.goals > 0 %}
    <li>{{ gameStat.player.name }} ({{ gameStat.goals }})</li>
{% endfor %}