{% extends '@layout/admin.html.twig' %}

{% block title %}Teams{% endblock %}

{% block content %}
    <main class="col-sm-9 offset-sm-3 col-md-10 offset-md-2 pt-3">
        <h1>Teams</h1>

        {% if teams is empty %}
            <div class="alert alert-warning">There's no teams in this league, <a href="{{ path('teams.create', {leagueId: routeParams.leagueId}) }}">add them here.</a></div>
        {% else %}
            <table class="table table-striped">
                <tbody>

                    {% for team in teams %}
                        <tr>
                            <td>{{ team.name }}</td>
                            <td><a href="{{ path('teams.view', {leagueId: routeParams.leagueId, teamId: team.id}) }}" class="btn btn-primary btn-sm">Edit</a></td>
                        </tr>
                    {% endfor %}

                </tbody>
            </table>
        {% endif %}
    </main>
{% endblock %}
