{% extends '@layout/admin.html.twig' %}

{% block title %}Leagues{% endblock %}

{% block content %}
    <main class="col-sm-9 offset-sm-3 col-md-10 offset-md-2 pt-3">
        <h1>Leagues</h1>

        {% if leagues is empty %}
            <div class="alert alert-info">you haven't any league yet, <a href="{{ path('leagues.create') }}">create your first one.</a></div>
        {% else %}
            <ul>
            {% for league in leagues %}
                <li><a href="{{ path('leagues.view', {leagueId: league.id}) }}">{{ league.name }}</a></li>
            {% endfor %}
            </ul>
        {% endif %}
    </main>
{% endblock %}
