{% extends '@layout/admin.html.twig' %}

{% block title %}Leagues{% endblock %}

{% block content %}
<main class="col-sm-9 offset-sm-3 col-md-10 offset-md-2 pt-3">
    <h1>{{ league.name }}</h1>
</main>
{% endblock %}
