{% extends '@layout/admin.html.twig' %}

{% block title %}Fixture{% endblock %}

{% block content %}
<main class="col-sm-9 offset-sm-3 col-md-10 offset-md-2 pt-3">
    <h1>Standings {{ league.name }}</h1>

    {% include "@standings/standings.html.twig" with {standings: standings} %}
</main>
{% endblock %}
