<form action="{{ path('players.create', {leagueId: league.id, teamId: team.id}) }}" method="post">
    <div class="form-group {{ errors.name is defined ? "has-danger" : "" }}">
        <textarea class="form-control" placeholder="Name" name="name" required data-reuse-submitted-value="true" rows="8"></textarea>
        <small class="form-text text-muted">Add one player per line.</small>
    </div>

    <button type="submit" class="btn btn-block btn-success">Add players</button>
</form>